body {
  background-color: papayawhip;
  font-size: 22px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
}

p {
  color: #333;
}

/* 
<h2>Ch3: Colours in CSS</h2>

<p>rgb: allows to set specific colours aside from the ones that already given. 255 is max value for each place holder, i.e, rgb(255,0,0) is red.</p>

<br>

<p>rgba scale: a (alpha channel) in this sets the trasnparency in the 4th placeholder. It goes from 0-1, 0 being fully transparent and 1 being fully opaque and 0.5 being 50% opacity.</p> 

<br>

<p> Hexadecimal color: using a scale of 0-9 and A-F, 0 being absence of colour and f being brightest value of that colour.</p>

<br>

coolors.coo ==> a good website to get color palettes and check contrast between diferent colors
*/
