@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  margin:auto;
  padding : 1rem;
  max-width: 800px;
  background-color: hsl(40, 100%, 95%);
}

main {
  background-color: bisque;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 1em
}

.columns {
  column-count: 4;
  column-width: 250px;
  column-rule: 3px solid #333;
  column-gap: 3rem;
}

.columns p {
  margin-top: 0;
}

.columns h2 {
  margin-top: 0;
  background-color: #333;
  color: whitesmoke;
  padding: 1rem;
  break-inside: avoid;
}

.columns .quote {
  text-align: center;
  column-span: all;
  font-size: 1.5rem;
  color: crimson;
  margin-top: 1rem;
}

.nowrap {
  white-space: nowrap;
}


/* 
<h2>Ch12: CSS Columns</h2>

<p>The column-rule funtions allows the add a line between columns to seperate them</p>
<p>Usually in the column setting, the first paragraph has top margin, to get rid of that you have to manually set margin-top to 0. Be specific to set this attrbute to only column paragraphs else, it will affect all other paragraphs as well. </p>
<p>The break-inside:avoid function allows for the text to not be split in the middle when using columns.</p>
<p>The column-span:all function allows for a paragraph to span multiple columns.</p>
<p>When the attribute white-space:nowrap is applied to class in the span element, it ensures that the content in the span element does not get split or broken when the window size is changed. </p>
*/
