* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(16, 15, 15);
  font-size: 2.5rem;
  border: rgb(163, 1, 1) 2px dashed;
  width: 50%;
  padding: 0.4em;
}

main {
  width: 100%;
  background-color: aquamarine;
}

p {
  font-size: 1.2rem;
}

/* 
<h2>Ch4: CSS Units</h2>
<br>
px are absolute values and should be used carefully. Fonts are usually handled by the browser and should therfore not be set for the root (the main {usually HTML tags} element), its more to do with borders and margins and other aesthetic features
<br>
 percentage are relative some other value, width for example has a value of 100% if a child element is to use a width 50%, :-> means it's using half of the parent elemts width relatively.
 <br>
rem : its also a relative unit, it applies a multiple of the root element (usually the HTML tag) to whatever it's defining (usually font size). So if the root element has a standard font size of 16px, applying a 2rem to h1 will make it 32px
<br>
viewport height and width: used to scale items according the size of the window current window. 100% scales content automatically to the full width the open window
*/
