@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  padding: 5%;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

input,
button {
  font: inherit;
}

p {
  text-decoration: underline;
  text-transform: capitalize;
  text-align: justify;
  text-indent: 2em;
  line-height: 1.5;
}

/* 
<h2>Ch6: CSS Typography</h2>

<p>Typography is the way that text is arranged and represented.</p>

<p>Form elements, such as the input and button, Don Not inherit the properties assigned to the body element. In order to make them inherit you have to state specificaly by adding this (input, button {font: inherit}) to the code.</p>
 
<p>New fonts can be imported from [fonts.google.com] and by using the @import code given paste it at the top of the CSS file. and add the font family aswell.</p>

*/
